body {
    background-image: url("artofheraldryenc00foxd_0281edited.png");
    background-repeat: repeat;
    background-size: 550px;
}

.text-image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-image img {
    width: 200px;
}

p {
    font-size: 24px;
    color: black;
    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 16px white;
}
p {

    font-size: 20px;
    color: black;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white,
         0 0 8px white,
         0 0 16px white;
}
.landing-image {
    width: 500px;
    display: block;
    margin: 100px auto;
    cursor: pointer;
}a {
    color: magenta;
}

a:visited {
    color: magenta;
}
.magenta-link {
    color: magenta;
}

.magenta-link:visited {
    color: magenta;
}
