body {
    background-image: url("artofheraldryenc00foxd_0281edited.png");
    background-repeat: repeat;
    background-size: 750px;
}

.text-image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-image img {
    width: 200px;
}

p {
    font-size: 24px;
    color: black;
    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 16px white;
}
p {
    font-size: 24px;
    color: black;
    -webkit-text-stroke: 1px white;
    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 16px white;
}
