body {
    background-image: url("artofheraldryenc00foxd_0281edited.png");
    background-repeat: repeat;
}
.text-image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-image img {
    width: 200px;
}
p {
    text-shadow:
        0 0 3px white,
        0 0 6px white;
}
